
 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <input class="form-control" name="listing[title]" placeholder="enter title" type="text" />
      <br /><br />
      <textarea
      class="form-description"
        name="listing[description]"
        placeholder="enter description"
      ></textarea>


      <br /><br />
      <!-- <input
      class="form-image"
        name="listing[image]"
        placeholder="enter image URL/Link"
        type="text"
      /> -->

      <input
      class="form-image"
        name="listing[image]"
      
        type="file"
      />
      <br /><br />



      <input  class="form-price" name="listing[price]" placeholder="enter price" type="number" />
      <br /><br />


      <input class="form-country" name="listing[country]" placeholder="enter country" type="text" />
      <br /><br />


      <input
      class="form-location"
        name="listing[location]"
        placeholder="enter location"
        type="text"
      />
      <br /><br />
      <button class="button-type">Add</button>
    </form>
  </body>
</html>
